

body{
    background: #1F2937;
    margin: 0px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
}

.container{
    text-align: center;
}
.input-section{
margin-left: 0px;
margin-right: 0px;
height: 260px;
text-align: center;

background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

header{
    text-align: center;
    padding: 20px;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    font-family: 'Inter';
    font-style: normal;
}

h2{
    padding: 20px;
}

h1{
    color: #D2D2D2;
}

input{
    border-radius: 20px;
    border-color: lightgrey;
    background-color: transparent;
    padding: 10px 25px;
    color: white;
    font-family: 'Inter';
    font-weight: bold;
    width: 300px;
    margin-top: 100px;
}

::placeholder{
    color: white;
    opacity: 1;
    text-align: center;
    font-size: large;
}